<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ab.akademikbilisim" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/ders_adi"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AkademikBilisim"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Detay"
            android:label="@string/title_activity_detay" >
        </activity>
        <activity
            android:name=".Duyurular"
            android:label="@string/title_activity_duyurular" >
        </activity>
    </application>

</manifest>
